* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nagłówek */
header {
  text-align: center;
  padding: 20px 0;
  background-color: #D782BA;
  color: #fff;
}

header h1 {
  font-size: 32px;
}

/* Pasek nawigacyjny */
nav {
  background-color: #EEB1D5;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  color: #ff0;
}

/* Główna treść */
main {
  padding: 20px;
}

.background {
  background-color: #FFFFFF;
}
article {
  margin-bottom: 30px;
}

article h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

article p {
  margin-bottom: 10px;
}



article img {
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
}

@media (width <= 480px) {
  article img {
  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 10%;
    height: auto;
  }

  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}

article time {
  display: block;
  margin-bottom: 10px;
}

/* Stopka */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #E0EFDA;
  color: #110101;
}